*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-success{
    width: 180px;
    height: 40px;
    Align:Center;
    border-radius: 43px;
    background-color: #077A34;
}

.head{
    width: 100%;
    height: 100px;
    background-color: #172027;
    
}
.headf{
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 700;
}

.headf_right img{
    margin-right: 20px;
}
.headf_right a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
.headf_right a::before{
    content: url(img/tel.png);
}
.head ul{
    margin-left: 200px;
    margin-right: 200px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  
.head ul > li{
    display: inline;
}
.head ul li>a{
    color: #0F0F10;
    text-decoration:none;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
}
footer {
    width: 100%;
    height: 331px;
    color: #FFFFFF;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
    background-color: #797C7D;
    
}
.foot{
    margin-left: 200px;
    margin-right: 200px;
    height: 47px;
    
}
.foot ul{
    padding-top: 100px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  
.foot ul > li{
    display: inline;
}
.foot ul li>a{
    color: #FFFFFF;
    text-decoration:none;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
}
.footf{
    padding-top: 120px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footf_right a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}


.main{
    position: relative;
    margin-top: 140px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns:757px 354px;
    grid-template-rows: 568px 158px;
    grid-template-areas: 
    "car cont";
}
.car{
    grid-area: car;
    transition: 5s;
}


div.main img{
    width: 757px;
    height: 568px;
    transition: 3s;
}
div.main img:hover{
    position: absolute;
    z-index: 1;
    width: 908px;
    height: 681px;
}
.cont{
    width: 369 px;
    grid-area: cont;
}
.fot{
    position: relative;
    margin-left: 10px;
    margin-top: -220px;
    width: 757px;
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
   
}
.fot img{
    margin-left: 200px;
    width: 175px;
    height: 131px;
    border-radius: 10px;
    
}
.soder{
    width: 369px;
    height: 450px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    border: 5px solid #5c5b5b0f;
    border-radius: 10%;
}

.soder p{
    padding-bottom: 20px;
}
.right{
    text-align: end;
}
.text{
    margin-left: 235px;
    margin-right: 500px;
}
.text p, h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-success{
    margin: 20px;
    width: 263px;
    height: 52px;
    Align:Center;
    border-radius: 50px;
    background-color: #077A34;
}
.two{
    background-color: #A8180F;
}
.button{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    