*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-success{
    width: 180px;
    height: 40px;
    Align:Center;
    border-radius: 43px;
    background-color: #077A34;
}

.head{
    width: 100%;
    height: 100px;
    background-color: #172027;
    
}
.headf{
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 700;
}

.headf_right img{
    margin-right: 20px;
}
.headf_right a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
.headf_right a::before{
    content: url(img/tel.png);
}
.head ul{
    margin-left: 200px;
    margin-right: 200px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  
.head ul > li{
    display: inline;
}
.head ul li>a{
    color: #0F0F10;
    text-decoration:none;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
}
.content{
    margin-top: 47px;
    background: url(img/place.png) no-repeat;
    background-size: cover;
    height: 753px;
}
.main{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
}
@keyframes MyAnimation1
{
    from { width: 600px;
           height: 450px;
        }
    to { 
         width: 751px;
         height: 588px;
        }
   
}
.main img{
    position: absolute;
    float: right;
    width: 600px;
    height: 450px;
    top: 110px;
    right: -87px;
    animation: MyAnimation1 5s infinite;
}

.bmw{
    position: absolute;
    font-family: Museo Sans Cyrl;
    color: #FFFFFF;
    Width:580px;
    Height:225px;
    top: 200px;
}
.bmw h3{
    font-weight: 700;
    font-size: 44px;
    
}
.bmw p{
    font-weight: 300;
    font-size: 22px; 
    margin-bottom: 20px;
}
.order{
    
    margin-right: 20px;
    width: 263px;
    height: 52px;
    border-radius: 43px;
    background-color: #077A34;
}
.arend{
    Width:263px;
    Height:52px;
    Top:531px;
    background-color:  #D33D34;
}

.text{
    width: 998px;
    height: 65px;
    font-family: Museo Sans Cyrl;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 600px;
}
.group>img{
    float: left;
}
.info>img{
    float: left;
}
.bet>img{
    float: left;
}
.text p{
    padding-top: 20px;
    width: 250px;
}
.cart{ 
     /* width: 1145px;  */
    height: 915px;
    margin-top: 110px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 18px;
    color: #0F0F10;
    display: flex;
    justify-content: space-around;

}
.elect{
    font-size: 35px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    margin-top: 160px;
}

.card{
    width: 368px;
    height: 694px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.card:hover{
     width: 400px;
     height: 700px;
}
p.name{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}
 .kont{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    
} 

.dan{
    font-weight: 300;
}
.info{
    width: 200px;
}
.info>p{
    margin: 15px;
}
.dan>p{
    
    margin: 28px;
}
div.card>button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 263px;
    height: 52px;
    margin-top: -20px;
        }
.look{
    display: flex;
    align-items: end;
    background-color: #D33D34;
    width: 263px;
    height: 52px;
}
.catalog{
    margin-left: 200px;
    margin-right: 200px;
}
.arend2{
    Width:263px;
    Height:52px;
    background-color: #D33D34;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -300px;
    
    
}
.arend2>a{
    text-decoration: none;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}
.soder{
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    margin-left: 200px;
    margin-right: 200px;
    background-color:#EEEEEE;
}
.kart{
    margin-bottom: 60px;
    width: 332px;
    height: 192px;
}
.prem{
    font-size: 35px;
}
.kart img{
    float: left;
}
.sod{
    margin-left: 75px;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
}
.sod h3{
    font-size: 18px;
    font-weight: 700;
}
.karta{
    width: 100vh;
    height: 785px;
   
}
.karta>p{
    width: 400px;
    margin-top: 30px;
    margin-left: 200px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    font-size: 35px;

}

.nuv{
    margin-top: 200px;
    margin-top: 100px;
    margin-left: 200px;
    overflow: hidden;
}
.side{
    font-family: Museo Sans Cyrl;
    font-weight: 700;
    width: 368px;
    height: 478px;
    font-size: 18px;
}
.side p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;

}

.nat{
    margin-top: 200px;
    margin-left: 200px;
    font-size: 35px;
    font-family: Museo Sans Cyrl;
    font-weight: 700;

}
.side img{
    width: 368px;
    height: 217px;
    border-radius: 10px;
    margin-left: -40px;
}

footer {
    width: 100%;
    height: 331px;
    color: #FFFFFF;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
    background-color: #797C7D;
    
}
.foot{
    margin-left: 200px;
    margin-right: 200px;
    height: 47px;
    
}
.foot ul{
    padding-top: 100px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  
.foot ul > li{
    display: inline;
}
.foot ul li>a{
    color: #FFFFFF;
    text-decoration:none;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
}
.footf{
    padding-top: 120px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footf_right a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
