*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-success{
    width: 180px;
    height: 40px;
    Align:Center;
    border-radius: 43px;
    background-color: #077A34;
}

.head{
    width: 100%;
    height: 100px;
    background-color: #172027;
    
}
.headf{
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Museo Sans Cyrl;
    font-size: 18px;
    font-weight: 700;
}

.headf_right img{
    margin-right: 20px;
}
.headf_right a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
.headf_right a::before{
    content: url(img/tel.png);
}
.head ul{
    margin-left: 200px;
    margin-right: 200px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}  
.head ul > li{
    display: inline;
}
.head ul li>a{
    color: #0F0F10;
    text-decoration:none;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
}
footer{
    width: 100%;
    height: 331px;
    color: #FFFFFF;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
    background-color: #797C7D;
    
}
.foot{
    margin-left: 200px;
    margin-right: 200px;
    height: 47px;
    width: auto;  
}
div.fotul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 120px;
}

.foot_right img{
    margin-right: 20px;
}

.foot ul{
    width: 1141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

  
}  
.foot ul > li{
    display: inline;
    
}
.fotul ul li>a{
    color: #FFFFFF;
    text-decoration:none;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
    font-size: 15px;
    
}
.footf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footf_right a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

.main{
    margin-left: 200px;
    margin-right: 200px;
}
div.main img{
    width: 757px;
    height: 568px;
}
.cont{
    width: 369 px;
}
.soder{
    width: 369px;
    display: flex;
    justify-content: flex-start;
    border: 5px solid transparent;
    
}
.right{
    text-align: end;
}
